@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&display=swap');
:root{
    --font-family: 'Noto-Sans-Georgian', Arial, Helvetica, sans-serif;
    --button-color : #3D63DD;
    --button-color-hover : #3F5CB0;
    --button-color-hover-shadow : 0px 3px 50px 5px #3d63dd80;
    --main-bg-color : #111113;
    --main-text-color : #eeeef0;
    --main-text-color2 : #B2B3BD;
    --main-text-surlign : #93B4FF;
    --main-border-color : #393A40;
    --main-font-size : 1rem;
    --main-button-padding : 10px 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
body{
    background-color: var(--main-bg-color);
    height: 100vb;
    /* max-height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-size: var(--main-font-size);
}
main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* class button */
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: var(--main-button-padding);
    background-color: var(--button-color);
    text-decoration: none;
    border: none;
    font-size: var(--main-font-size);
    border-radius: 5px;
    color: var(--main-text-color);
    transition: all 0.2s ease;
}
/* header */
header{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    backdrop-filter: blur(5px);
    padding-right: 20px;
    z-index: 100;
    border-bottom: 1px solid var(--main-border-color);
}
header .logo{
    display: flex;
    height: 100%;
    align-items: center;
    width: fit-content;
    margin: 0 20px;
    padding-right: 20px;
    font-size: 2rem;
}
.websiteName{
    width: 350px;
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid var(--main-text-color2);
    border-radius: 25px;
}
#websiteName{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--main-text-color2);
    font-size: 1rem;
    padding:  7.5px 10px;
    text-align: center;
}
#websiteName:focus{
    color: var(--main-text-color);
}
.previewButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#vue{
    width: fit-content;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 1rem;
    border: none;
    color: var(--main-text-color2);
}
#vue:focus{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.saveButton{
    cursor: pointer;
}
/* section */
.container{
    background-color: var(--main-text-color2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* side menu */
.menu{
    width: 50px;
    height: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    align-self: center;
    flex-direction: column;
    float: left;
    border-right: 1px solid var(--main-border-color);
}
.menuButton{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.menuButton button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}
.hiddenMenu{
    position: absolute;
    display: none;
    justify-content: center;
    background-color: var(--main-bg-color);
    width: 300px;
    height: calc(100vh - 50px);
    top: 50px;
    left: 50px;
    transition: all 0.2s ease;
}
.hidden{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    /* border: 1px solid var(--main-bg-color); */
}
.hidden h3, p{
    margin: 10px;
}
.pageMenu, .seoMenu, .designMenu, .libraryMenu, .addMenu, .settingsMenu{
    display: none;
    justify-content: center;

    width: 100%;
    gap: 10px;
}
#newFolder, #newPage{
    width: 90%;
    padding: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-text-color2);
    border: 1px solid var(--main-border-color);
    cursor: pointer;
}
.language{
    width: fit-content;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
}
.separator{
    display: block;
    margin: 15px 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-border-color);
}
/* zone contenu / iframe */
.content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.content iframe{
    display: block;
    width: 1024px;
    height: calc(100vh - 50px);
    transition: all 0.2s ease;
    cursor: grab;
}
.settingMenu{
    height: 100vh;
    min-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-left: 1px solid var(--main-border-color);
}
.size{
    padding: 0 20px 0 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.setting{
    width: 125px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}
.setting input{
    width: 60px;
    border-radius: 5px;
    padding: 2.5px;
    color: var(--main-text-color2);
    background-color: var(--main-border-color);
    border: 1px solid var(--main-text-color2);
}
.setting input:focus{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    outline: none;
}
/*  */

.rSideMenu {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
}
.material-symbols-outlined {
    transform: rotate(-90deg);
    cursor: pointer;
    transition: transform 0.3s ease;
}
.material-symbols-outlined:hover {
    color: var(--main-text-color);
}

.margin,.padding{
    width: 100%;
    display: flex;
    /* margin: 0 10px; */
    padding: 0 10px;
}
.margin fieldset,.padding fieldset{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 10px;
}
.margin fieldset legend, .padding fieldset legend{
    padding: 3px 6px;
}
.sizeContainer, .spacingContainer, .typoContainer, .backgroundContainer, .borderContainer, .positionContainer {
    overflow: hidden;
    height: 20px;
}
.sizeContainer.open, .spacingContainer.open, .typoContainer.open, .backgroundContainer.open, .borderContainer.open, .positionContainer.open {
    height: auto;
}
.sizeContainer p, .spacingContainer p, .typoContainer p, .backgroundContainer p, .borderContainer p, .positionContainer p {
    font-size: 0.9rem;
}

.typoContainer.open .material-symbols-outlined, .sizeContainer.open .material-symbols-outlined, .spacingContainer.open .material-symbols-outlined, .backgroundContainer.open .material-symbols-outlined, .borderContainer.open .material-symbols-outlined, .positionContainer.open .material-symbols-outlined {
    transform: rotate(0deg); /* Rotation de l'icône quand le menu est déplié */
} 

/*  */


.gjs-block-section, .gjs-block-text, .gjs-block-image, .gjs-block-button, .gjs-block-video {
    padding: 10px;
    width: auto;
    
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}